body {
    background-color: #101010;
    color: white;
    font-family: "Ubuntu", Verdana, Geneva, Tahoma, sans-serif;
}

.footnote {
    margin: 0;
    color: gray;
}

.footnote a {
    color: #4a4a4a;
}

.footnote a:visited { /* prevents stupid purple thing */
    color: #4a4a4a;
}

.hidden {
    display: none;
}

button {
    background-color: #292929;
    border-style: solid;
    border-radius: 10px;
    border-color: #292929;
    color: white;
    padding: 5px;
}

.newcatbtn {
    margin-top: 10px;
}